h1 {text-align: center;
	border: 6px solid;
	color : violet;}
p {color : #ffb3d1;
	text-align: center;}
tr {color : #990033;
	text-align: center;
	border: 2px solid}
ul {color : #ffb3d1;
	text-align: center;}
ul	{border-left: : 10px solid pink;
	background-color : black;}
tr {background-color: pink;}
p {background-color: black}
p {margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 75px;}
ul {margin-top: 100px;
	margin-right: 50px;
	margin-left: 50px;
	margin-bottom: 75px;}
h1 {font-family: Copperplate, Papyrus, fantasy;}
p {font-family: "Trebuchet MS", Helvetica, sans-serif;}
ul {font-family: "Trebuchet MS", Helvetica, sans-serif;}
tr {font-family: "Trebuchet MS", Helvetica, sans-serif;}
table {width: 50%}
th {height: 20px;}